<md-card>
    <md-card-title>Overview</md-card-title>
    <md-card-content>
        For full instructions on click <a href="https://github.com/Useful-Software-Solutions-Ltd/angular2-disqus/blob/master/readme.md"
                target="_blank">here</a>. To find out more about highlight.js can be found <a href="https://highlightjs.org/usage/">here</a>
    </md-card-content>
</md-card>
<md-card>
    <md-card-title>Sample 1: using the HighlightJsContent directive</md-card-title>
    <md-card-content>
        <p>Use this directive to handle dynamic content which contains snippets. 
            Both the sections below have innerHTML bound to the the sampleContent property.</p>
        <h4>Raw pre code without highlighting</h4>
        <section [innerHTML]="sampleContent"></section>
        <h4>Same again highlighted using HighlightJsService.highlight(element)</h4>
        <section [innerHTML]="sampleContent" highlight-js-content=".highlight"></section>
    </md-card-content>
    <md-card-actions>
        <button md-raised-button color="primary" (click)="addContent()">highlight</button>
    </md-card-actions>
</md-card>
<md-card>
    <md-card-title>Sample 2: using the HighlightJsService</md-card-title>
    <md-card-content>
        <h4>Raw pre code without highlighting</h4>
        <pre>
            <code>
                class Greeter {{ '{' }}
                    constructor(public greeting: string) {{ '{' }} {{ '}' }}

                    greet() {{ '{' }}
                        return "hello world";
                    {{ '}' }}
                {{ '}' }};
            </code>
        </pre>
        <h4>Same again highlighted using HighlightJsService.highlight(element)</h4>
        <pre>
            <code #snippet class="typescript highlight-this">
                class Greeter {{ '{' }}
                    constructor(public greeting: string) {{ '{' }} {{ '}' }}

                    greet() {{ '{' }}
                        return "hello world";
                    {{ '}' }}
                {{ '}' }};
            </code>
        </pre>
    </md-card-content>
    <md-card-actions>
        <button md-raised-button color="primary" (click)="highlightByService(snippet)">highlight</button>
    </md-card-actions>
</md-card>