<md-card>
    <md-card-title>Overview</md-card-title>
    <md-card-content>
        For full instructions on click <a href="https://github.com/Useful-Software-Solutions-Ltd/angular2-disqus/blob/master/readme.md"
                target="_blank">here</a>. To find out more about highlight.js can be found <a href="https://highlightjs.org/usage/">here</a>
    </md-card-content>
</md-card>
<md-card>
    <md-card-title>sample 1: using the highlight-js attribute directive</md-card-title>
    <md-card-content>
        <h4>Raw pre code without highlighting</h4>
        <pre>
            <code>
               export class HighlightJsDirective implements AfterContentInit {
                    @Input() useBr: boolean;

                    constructor(private elementRef: ElementRef, renderer: Renderer) {

                    }

                    ngAfterContentInit() {
                        if (this.useBr) {
                            hljs.configure({ useBR: true });
                        }

                        hljs.highlightBlock(this.elementRef.nativeElement);
                    }
                }
            </code>
        </pre>
        <h4>Same again highlighted using the highlight-js attribute directive (check index.html to see scripts required for style
            and adding TypeScript as it is not in the common languages)</h4>
        <pre>
            <code highlight-js class="typescript">
                export class HighlightJsDirective implements AfterContentInit {
                    @Input() useBr: boolean;

                    constructor(private elementRef: ElementRef, renderer: Renderer) {

                    }

                    ngAfterContentInit() {
                        if (this.useBr) {
                            hljs.configure({ useBR: true });
                        }

                        hljs.highlightBlock(this.elementRef.nativeElement);
                    }
                }
            </code>
        </pre>
    </md-card-content>
</md-card>
<md-card>
    <md-card-title>sample 2: using the HighlightJsService</md-card-title>
    <md-card-content>
        <h4>Raw pre code without highlighting</h4>
        <pre>
            <code>
                export class DemoComponent implements OnInit, AfterViewInit {

                    constructor(private el: ElementRef, private service : HighlightJsService) {

                    }

                    ngOnInit() { }

                    ngAfterViewInit() {        
                        this.service.highlight(this.el.nativeElement.querySelector('.typescript'), false);
                    }
                }
            </code>
        </pre>
        <h4>Same again highlighted using HighlightJsService.highlight(element)</h4>
        <pre>
            <code class="typescript highlight-this">
                export class DemoComponent implements OnInit, AfterViewInit {

                    constructor(private el: ElementRef, private service : HighlightJsService) {

                    }

                    ngOnInit() { }

                    ngAfterViewInit() {        
                        this.service.highlight(this.el.nativeElement.querySelector('.typescript'), false);
                    }
                }
            </code>
        </pre>
    </md-card-content>
</md-card>